<%# NAVBAR %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to lists_path, class: "navbar-brand" do %>
      <%= image_tag "video-player" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active fs-3">
            <%= link_to "My lists", lists_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<%# BANNER %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1294308946/pt/foto/hand-is-holding-black-clapper-board-or-movie-slate-it-is-used-in-video-production-and-movies.jpg?s=612x612&w=0&k=20&c=cCo8Dg4CpWtwe0UUNXxoz6ncVJhrB9uNvLQ5phhTHoE=)">
  <div class="row">
    <div class="col-12">
      <div class="text-center fs-1"><strong>WATCH LIST</strong></div>
    </div>
    <div class="col-12 text-center">
      <%= link_to "Add a new List", new_list_path, class: "btn btn-primary btn-lg btn btn-primary" %>
    </div>
  </div>
</div>

<%# LISTS %>
<div class="container mt-3 mb-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4 mt-1 mb-1">
        <%= link_to list_path(list), class: "card-link" do %>
          <div class="card">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image %>)">
            <div class="card-text"><%= list.name %></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
